.hidden_section{
	display: none;
}

.job-main a {
  color: #5c5c5c; 
}

.job-main a:hover {
  color: #ed1f24; 
}

.job-main ul {
  padding-left: 48px!important;
  margin-top: 24px;
}

.job-main h2 {
  margin: 24px 0 -9px 0;
}